/** Navbar **/
.nav-top{
    .dropdown button{
        border: 0;
        margin-right: 15px;
        font-size: 14px;
	    color: #999999;
    }
}

.navbar-default {
    height: 80px;
    background-color: $color_white;
    border-bottom: 0;
    .navbar-nav>li>a {
        padding-top: 30px;
        @extend .font_type_nav;
    }
    .navbar-nav>li>form {
        padding-top: 18px;
        @extend .font_type_nav;

        input {
            width: 161px;
	        height: 27.9px;
	        border-radius: 30px;
            background-color: #dddddd;
            color: $color_medium_gey !important;
        }
    }
    /** Change placeholder color for most browsers **/
    .form-control::-webkit-input-placeholder { color: $color_white; }
    .form-control:-moz-placeholder { color: $color_white; }
    .form-control::-moz-placeholder { color: $color_white; }
    .form-control:-ms-input-placeholder { color: $color_white; }
};


/** Footer **/
.footer{
    ul{
        list-style: none;
        margin-left: -40px;
        li>a{
            @extend .font_type_home;
            line-height: 1.9;
        }
    }
    .title{
        padding-left: 70px;
        @extend .font_type_footer_title;
    }

    /** Footer Bottom **/
    &.footer-bottom{
        height: auto;
        max-width: 1480px;
	    background-color: $color_dark_grey;
        .social{
            padding: 15px 0 15px 0;
            margin: 0 30px 0 0;
        }
        .text a{
            margin-right: 30px;
            font-family: OpenSans;
        	font-size: 14px;
        	line-height: 1.7;
        	color: #999999;

        }
        .dropdown button{
            background-color: $color_dark_grey;
            border: 0;
            color: $color_white;
            margin-right: 15px;
        }
        .gob {
            margin: 0 -15px 0 0;
        }
    }
}

/** Carousel **/
.carousel{
    .carousel-indicators{
        li{
            border-color: $color_turquoise;
            &.active{
                background-color: $color_turquoise;
            }
        }
    }

    .carousel-caption{
        .title{
            font-family: $font_roboto_light;
	        font-size: 60px;
	        line-height: 1.1;
	        color: $color_dark_grey;
            text-shadow: initial;
        }

        p{
            font-family: $font_open_sans;
        	font-size: $font_size_2;
        	line-height: 1.6;
        	color: $color_dark_grey;
            text-shadow: initial !important;

            a{
                color: $color_turquoise;
            }
            button{
                margin-top: 40px;
                width: 290px;
            	height: 60px;
            	border-radius: 30px;
            	background-color: $color_turquoise;
            	border: solid 1px #00c7ab;
            	border: solid 1px $color_turquoise;
                span{
                    font-family: $font_open_sans;
                	font-size: $font_size_2;
                    font-weight: lighter;
                	line-height: 1.2;
                	color: $color_white;
                    margin-left: 10px;
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        &#research{
            padding-bottom: 141px;
        }
        &#download{
            padding-bottom: 90px;
        }
        &#development{
            padding-bottom: 60px;
        }
        &#outreach{
            padding-bottom: 70px;
        }
    }
}


/**Search Form**/
.search-form{
    margin-top: 10px;
    form{
        max-width: 900px;
        /** Change placeholder color for most browsers **/
        .form-control::-webkit-input-placeholder { color: $color_clear_grey; }
        .form-control:-moz-placeholder { color: $color_clear_grey; }
        .form-control::-moz-placeholder { color: $color_clear_grey; }
        .form-control:-ms-input-placeholder { color: $color_clear_grey; }

        input{
            height: 60px;
	        border: solid 1px $color_clear_grey;
            border-right: 0;
            font-family: $font_open_sans;
        	font-size: $font_size_2;
        	line-height: 1.5;
        }
        .input-group-btn{
            outline: initial;
        }
        button{
            z-index: 99999;
            width: 170px;
        	height: 60px;
        	border-radius: 30px;
        	background-color: $color_white;;
        	border: solid 1px $color_turquoise;
            font-family: $font_open_sans;
        	font-size: $font_size_2;
        	line-height: 1.4;
        	color: $color_turquoise;
            &:hover{
                opacity: 0.8;
                border-radius: 30px;
            	background-color: $color_white;;
            	border: solid 1px $color_turquoise;
                font-family: $font_open_sans;
            	font-size: $font_size_2;
            	line-height: 1.4;
            	color: $color_turquoise;
            }
            &:focus{
                border-radius: 30px;
            	background-color: $color_white;;
            	border: solid 1px $color_turquoise;
                font-family: $font_open_sans;
            	font-size: $font_size_2;
            	line-height: 1.4;
            	color: $color_turquoise;
            }
            img{
                margin-right: 10px;
            }
        }
    }
}

/** News **/
.news{
    .title{
        margin: 10px 0 10px 0;
        a{
            font-family: $font_roboto;
    	    font-size: $font_size_3;
    	    line-height: 1.6;
    	    color: $color_turquoise;
        }
    }
    .subtitle{
        margin: 10px 0 10px 0;
        font-family: $font_open_sans;
    	font-size: $font_size_2;
    	line-height: 1.2;
    	color: $color_dark_grey;
    }
    .date{
        margin: 0 0 15px 0;
        font-family:$font_roboto;
    	font-size: $font_size_4;
    	line-height: 1.6;
    }
    .footnote{
        font-size: $font_size_3;
    }
}

/** Events **/
.events{
    .schedule{
        padding-right: 0px !important;
        background-color: #f8f8f8;
	    border: solid 1px #f0f0f0;
        .schedule-head{
            background-color: #f0f0f0;
            padding: 20px 0 15px 0;
            margin: 0 0 15px -15px;
            .title{
                margin:0 0 5px 15px;
                font-family: $font_open_sans;
                font-size: $font_size_3;
                line-height: 1.6;
                color: $color_turquoise;
            }
            .date{
                margin-left: 15px;
                font-family: $font_roboto;
            	font-size: $font_size_4;
            	line-height: 1.5;
            	color: $color_dark_grey;
            }
        }
        ul{
            list-style: none;
            margin-left: -40px;
            li{
                margin-bottom: 25px;
                .title{
                    margin:0 0 5px 0;
                    font-family: $font_open_sans;
                	font-size: $font_size_3;
                	line-height: 1.6;
                	color: $color_medium_gey;
                }
                .date{
                    font-family:$font_roboto;
                	font-size: $font_size_4;
                	line-height: 1.5;
                	color: $color_medium_grey_light;
                }
            }
        }
    }
    .detail{
        padding-left: 0px !important;
        .title{
            padding-top: 25px;
            padding-left: 15px;
            font-family: $font_roboto;
        	font-size: $font_size_2;
        	line-height: 1.1;
        	color: $color_medium_grey_light;
        }
        .subtitle{
            padding-top: 25px;
            padding-left: 15px;
            font-family: $font_open_sans;
        	font-size: $font_size_2;
        	line-height: 1.2;
        	color: $color_dark_grey;

        }
        .detail-link a{
            padding-top: 15px;
            padding-left: 15px;
            font-family: $font_open_sans;
        	font-size: $font_size_3;
        	line-height: 1.8;
        	color: $color_turquoise;
        }
    }
}
