/** Responsive **/
@media (max-width: 850px) {
    .navbar-nav {
        margin-top: 20px;
        background-color: $color_white;
    }

    .navbar-default .navbar-collapse {
        border: 0;
    }
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
  	    margin-top:30px;
  	    width:228px;
    }

    #sidebar.affix {
        position: fixed;
        top:70px;
        width:228px;
    }
}
