@font-face {
    font-family: 'gibsonregular';
    src: url('fonts/gibson-regular-webfont.eot');
    src: url('fonts/gibson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-regular-webfont.woff2') format('woff2'),
         url('fonts/gibson-regular-webfont.woff') format('woff'),
         url('fonts/gibson-regular-webfont.ttf') format('truetype'),
         url('fonts/gibson-regular-webfont.svg#gibsonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gibsonlight';
    src: url('fonts/gibson-light-webfont.eot');
    src: url('fonts/gibson-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-light-webfont.woff2') format('woff2'),
         url('fonts/gibson-light-webfont.woff') format('woff'),
         url('fonts/gibson-light-webfont.ttf') format('truetype'),
         url('fonts/gibson-light-webfont.svg#gibsonlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font_open_sans: 'OpenSans', sans-serif;
$font_roboto: 'gibsonregular';
$font_roboto_light: 'gibsonlight';

/** COLORS **/
$color_red:  #ec1822;
$color_turquoise: #00c7ab;
$color_clear-green:  #e6f9f6;
$color_dark_grey: #333333;
$color_medium_gey: #666666;
$color_medium_grey_light: #999999;
$color_clear_grey: #cccccc;
$color_clear_grey_light: #f0f0f0;
$color_white:  #ffffff;
$color_purple:  #c08de0;
$color_blue: #7cbaf3;
$color_green: #b6d017;
$color_clear_red: #e27c72;
$color_orange:  #f8b835;


/** Font sizes **/
$font_size_1: 40px;
$font_size_2: 20px;
$font_size_3: 16px;
$font_size_4: 14px;

/* MIXINS */
@for $i from 1 through 10 {
    $margin: $i * 10;

    .margin-top-#{$i} {
        margin-top: #{$margin}px !important;
    }
    .margin-bottom-#{$i} {
        margin-bottom: #{$margin}px !important;
    }

    .padding-top-#{$i} {
        padding-top: #{$margin}px !important;
    }
    .padding-bottom-#{$i} {
        padding-bottom: #{$margin}px !important;
    }
}

/** EXTENDS **/

.font_type_nav{
    font-family: $font_roboto;
    font-size: $font_size_3;
    line-height: 1.4;
    color: $color_dark_grey;
}

.font_type_home{
    font-family: $font_open_sans;
    font-size: $font_size_3;
    color: $color_medium_grey_light;
}

.font_type_section_title {
    font-family: $font_roboto;
	font-size: $font_size_2;
	color: $color_dark_grey;
    a{
        font-family: OpenSans;
    	font-size: $font_size_3;
    	line-height: 1.8;
    	color: $color_turquoise;
    }
}

.font_type_footer_title{
    font-family: $font_roboto;
    font-size: $font_size_2;
    color: $color_dark_grey;
}

/** INPUTS **/

body{
    @extend .font_type_home;

    .container-fluid{
        max-width: 1250px;
    }
}

.section-title{
    margin-top: 40px;
    @extend .font_type_section_title;
}


a{
    &:hover{
    	color: $color_turquoise !important;
        text-decoration: none !important;
    }
}

input{
    &:focus{
        border-color: $color_turquoise !important;
    }
}


/** Navbar **/
.nav-top{
    .dropdown button{
        border: 0;
        margin-right: 15px;
        font-size: 14px;
	    color: #999999;
    }
}

.navbar-default {

    height: 80px;
    background-color: $color_white;
    border-bottom: 0;

    .navbar-nav>li>a {
        padding-top: 30px;
        @extend .font_type_nav;
    }

    .navbar-nav>li>form {

        padding-top: 18px;
        @extend .font_type_nav;

        input {
            width: 161px;
	        height: 27.9px;
	        border-radius: 30px;
            background-color: #dddddd;
            color: $color_medium_gey !important;
        }
    }

    /** Change placeholder color for most browsers **/
    .form-control::-webkit-input-placeholder { color: $color_white; }
    .form-control:-moz-placeholder { color: $color_white; }
    .form-control::-moz-placeholder { color: $color_white; }
    .form-control:-ms-input-placeholder { color: $color_white; }
};


/** Footer **/
.footer{

    ul{
        list-style: none;
        margin-left: -40px;
        li>a{
            @extend .font_type_home;
            line-height: 1.9;
        }
    }

    .title{
        padding-left: 70px;
        @extend .font_type_footer_title;
    }

    /** Footer Bottom **/
    .footer-bottom{
        height: auto;
        width: 100% !important;
	    background-color: $color_dark_grey;
        .social{
            padding: 15px 0 15px 0;
            margin: 0 30px 0 0;
        }
        .text a{
            margin-right: 30px;
            font-family: OpenSans;
        	font-size: 14px;
        	line-height: 1.7;
        	color: #999999;

        }
        .dropdown button{
            background-color: $color_dark_grey;
            border: 0;
            color: $color_white;
            margin-right: 15px;
        }
        .gob {
            margin: 0 -15px 0 0;
        }
    }
}

/** Carousel **/
.carousel{
    .carousel-indicators{
        li{
            border-color: $color_turquoise;
            &.active{
                background-color: $color_turquoise;
            }
        }
    }

    .carousel-caption{
        .title{
            font-family: $font_roboto_light;
	        font-size: 60px;
	        line-height: 1.1;
	        color: $color_dark_grey;
            text-shadow: initial;
        }

        p{
            font-family: $font_open_sans;
        	font-size: $font_size_2;
        	line-height: 1.6;
        	color: $color_dark_grey;
            text-shadow: initial !important;

            a{
                color: $color_turquoise;
            }
            button{
                margin-top: 40px;
                width: 290px;
            	height: 60px;
            	border-radius: 30px;
            	background-color: $color_turquoise;
            	border: solid 1px #00c7ab;
            	border: solid 1px $color_turquoise;
                span{
                    font-family: $font_open_sans;
                	font-size: $font_size_2;
                    font-weight: lighter;
                	line-height: 1.2;
                	color: $color_white;
                    margin-left: 10px;
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        &#research{
            padding-bottom: 141px;
        }
        &#download{
            padding-bottom: 90px;
        }
        &#development{
            padding-bottom: 60px;
        }
        &#outreach{
            padding-bottom: 70px;
        }
    }
}

/**Search Form**/
.search-form{
    margin-top: 10px;
    form{
        max-width: 900px;
        /** Change placeholder color for most browsers **/
        .form-control::-webkit-input-placeholder { color: $color_clear_grey; }
        .form-control:-moz-placeholder { color: $color_clear_grey; }
        .form-control::-moz-placeholder { color: $color_clear_grey; }
        .form-control:-ms-input-placeholder { color: $color_clear_grey; }

        input{
            height: 60px;
	        border: solid 1px $color_clear_grey;
            border-right: 0;
            font-family: $font_open_sans;
        	font-size: $font_size_2;
        	line-height: 1.5;
        }

        button{
            z-index: 99999;
            width: 170px;
        	height: 60px;
        	border-radius: 30px;
        	background-color: $color_white;;
        	border: solid 1px $color_turquoise;
            font-family: $font_open_sans;
        	font-size: $font_size_2;
        	line-height: 1.4;
        	color: $color_turquoise;
            &:hover{
                opacity: 0.8;
                border-radius: 30px;
            	background-color: $color_white;;
            	border: solid 1px $color_turquoise;
                font-family: $font_open_sans;
            	font-size: $font_size_2;
            	line-height: 1.4;
            	color: $color_turquoise;
            }
            img{
                margin-right: 10px;
            }
        }
    }
}

/** News **/
.news{
    .title{
        margin: 10px 0 10px 0;
        a{
            font-family: $font_roboto;
    	    font-size: $font_size_3;
    	    line-height: 1.6;
    	    color: $color_turquoise;
        }
    }
    .subtitle{
        margin: 10px 0 10px 0;
        font-family: $font_open_sans;
    	font-size: $font_size_2;
    	line-height: 1.2;
    	color: $color_dark_grey;
    }
    .date{
        margin: 0 0 15px 0;
        font-family:$font_roboto;
    	font-size: $font_size_4;
    	line-height: 1.6;
    }
    .footnote{
        font-size: $font_size_3;
    }
}

/** Responsive **/
@media (max-width: 850px) {
    .navbar-nav {
        margin-top: 20px;
        background-color: $color_white;
    }

    .navbar-default .navbar-collapse {
        border: 0;
    }
}
